* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  /* --primary-color: #605dc8; */
  --primary-color: #e2b616;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

button.primary {
  padding: 10px;
  border: solid 1px #000;
  background: var(--primary-color);
  color: #000;
  border-radius: 8px;
}

.link {
  color: var(--primary-color);
}
